main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar-main {
  position: fixed;
  transition: width 600ms ease;
  overflow: hidden;
  z-index: 1;
}

.navbar-nav-custom {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item-custom {
  width: 100%;
}

.nav-item-custom:last-child {
  margin-top: auto;
}

.nav-link-custom {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link-custom-active {
  background-color: var(--bg-link);
  filter: grayscale(0%) opacity(.6);
  transition: background-color 0.5s ease-in-out;
}

.nav-link-custom:hover {
  text-decoration: none;
  color: aliceblue;
  filter: grayscale(0%) opacity(1);
  background: var(--bg-link);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link-custom i {
  font-size: x-large;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link-custom svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar-main:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar-main {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav-custom {
    flex-direction: row;
  }

  .nav-link-custom {
    justify-content: center;
  }

  .nav-link-custom i {
    font-size: x-large;
    margin: 0 0;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar-main {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar-main:hover {
    width: 20rem;
  }

  .navbar-main:hover .link-text {
    display: inline;
  }

  .navbar-main:hover .logo svg {
    margin-left: 16rem;
  }

  .navbar-main:hover .logo-text {
    left: 0px;
  }
}
